{% extends "base.html" %}

{% block content %}
    <h2 class="mb-3"> Posts of {{ user.username }} ({{ posts.total }}) </h2>
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" alt="" src="{{ url_for('static', filename='profile_img/' + post.author.image_file)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%B %d, %Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    <div class="float-right">
    {% for page_no  in posts.iter_pages() %}
        {% if page_no %}
            {% if page_no == posts.page %}
                <a class="btn btn-info" href="{{ url_for('users.user_post', page=page_no) }}"> {{ page_no }}</a>
            {% else %}
                <a class="btn btn-outline-info" href="{{ url_for('user.user_post', page=page_no) }}"> {{ page_no }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    </div>
{% endblock content %}

